features: b_nullary(K_pos_alive), n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))), n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))), n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0))))
Rules:
{ b_nullary(K_pos_alive) ^ n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) = 0 ^ n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) > 0 ^ n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) = 0 }  ⇒  { ↑n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) }
{ b_nullary(K_pos_alive) ^ n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) > 0 ^ n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) = 0 ^ n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) > 0 }  ⇒  {  }
{ b_nullary(K_pos_alive) ^ n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) > 0 ^ n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) > 0 ^ n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) > 0 }  ⇒  { ↑n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) ^ ↓n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) }
{ b_nullary(K_pos_alive) ^ n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) > 0 ^ n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) > 0 ^ n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) > 0 }  ⇒  { ↑n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) ^ ↓n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) ^ ↓n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) }
{ b_nullary(K_pos_alive) ^ n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) > 0 ^ n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) > 0 ^ n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) > 0 }  ⇒  { ↑n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) ^ ↓n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) }
{ b_nullary(K_pos_alive) ^ n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) > 0 ^ n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) > 0 ^ n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) > 0 }  ⇒  { ↑n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) ^ ↓n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) }
{ b_nullary(K_pos_alive) ^ n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) > 0 ^ n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) > 0 ^ n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) > 0 }  ⇒  { ↑n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) ^ ↓n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) ^ ↓n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) }
{ b_nullary(K_pos_alive) ^ n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) > 0 ^ n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) > 0 ^ n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) > 0 }  ⇒  { ↓n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) }
{ b_nullary(K_pos_alive) ^ n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) > 0 ^ n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) > 0 ^ n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) > 0 }  ⇒  { ↓n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) ^ ↓n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) }
{ b_nullary(K_pos_alive) ^ n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) > 0 ^ n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) > 0 ^ n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) > 0 }  ⇒  { ↓n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) }
{ b_nullary(K_pos_alive) ^ n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) > 0 ^ n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) > 0 ^ n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) > 0 }  ⇒  { ↓n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) ^ ↓n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) }
{ b_nullary(K_pos_alive) ^ n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) > 0 ^ n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) > 0 ^ n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) > 0 }  ⇒  { ↓n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) ^ ↓n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) ^ ↓n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) }
{ b_nullary(K_pos_alive) ^ n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) > 0 ^ n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) > 0 ^ n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) > 0 }  ⇒  { ↓n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) ^ ↓n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) }
{ b_nullary(K_pos_alive) ^ n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) > 0 ^ n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) > 0 }  ⇒  { ↑n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) ^ ↓n_concept_distance(c_primitive(K_pos_at,0),r_primitive(K_pos_adj,0,1),c_not(c_primitive(K_neg_gold-at,0))) ^ ↓n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) }
State Constraints:
{ n_count(c_and(c_primitive(K_neg_at,0),c_primitive(K_neg_stench,0))) > 0 ^ n_count(c_some(r_primitive(K_neg_adj,0,1),c_and(c_primitive(K_neg_glitter,0),c_primitive(K_pos_at,0)))) = 0 ^ ¬b_nullary(K_pos_alive) }